---
permalink: /our-missionaries/
---
layout: ../../_includes/layouts/base.njk
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Missionaries - Christ’s Church of Starke</title>
  <meta name="description" content="Brethren, pray for us. 1 Thessalonians 5:25 - List of our supported missionaries and missions." />
</head>
<body>
  <header>
    <h1>Our Missionaries</h1>
  </header>
  <main>
    <section style="text-align: center;">
      <p style="font-size: 20px;"><em><strong>Brethren, pray for us. 1 Thessalonians 5:25</strong></em></p>
      <p style="font-size: 20px;"><em>
        Jim &amp; Linda Perkins<br />
        Addien Pike – South Carolina<br />
        Hemanth Peter – Source of Light (India)<br />
        Kay Hunter – Australia<br />
        Sandy Cheatwood – Turkey<br />
        Dave &amp; Dara Turner – Turkey<br />
        Victory Bible Press<br />
        Jews for Jesus<br />
        Jason &amp; Ellen Thomas – Mexico<br />
        James &amp; Virginie Carney – France<br />
        Gospel Light Baptist Mission – Cindyann Rasquinha<br />
        Francis Landingin – Cambodia<br />
        Leonardo Mallari – Philippines/Africa<br />
        Lamuel Mallari – Philippines/Africa
      </em></p>
    </section>
  </main>
</body>
</html>
