---
layout: layouts/base.njk
title: Home
---

<h2>Welcome to Christ’s Church of Starke</h2>
<p>Weekly Service Times: Sunday Morning 10:30am</p>
<p>Any special weeknight service will begin at 7:30pm</p>
<p>We trust that today you are enjoying all the riches in Christ!</p>
<p>We would like to share with you an article written nearly 70 years ago that is alarmingly descriptive of the deceptive hour in which we live.</p>
