---
title: "Home – Christ’s Church of Starke"
layout: layouts/default.njk
---

<main id="main" class="site-main" role="main">
<div id="generate-section-1" class="generate-sections-container">
<div class="generate-sections-inside-container" itemprop="text">
<div>
<div class="n2-section-smartslider fitvidsignore" data-ssid="16"
tabindex="0" role="region" aria-label="Slider">
<div id="n2-ss-16-align" class="n2-ss-align">
<div class="n2-padding">
<div id="n2-ss-16"
class="n2-ss-slider n2-ow n2-has-hover n2notransition"
data-creator="Smart Slider 3" data-responsive="fullwidth"
data-ss-legacy-font-scale="1">
<div class="n2-ss-slider-wrapper-inside">
<div class="n2-ss-slider-1 n2_ss__touch_element n2-ow">
<div class="n2-ss-slider-2 n2-ow">
<div class="n2-ss-background-animation n2-ow">

</div>
<div class="n2-ss-slider-3 n2-ow">
<div class="n2-ss-slide-backgrounds n2-ow-all">
<div class="n2-ss-slide-background" data-public-id="1" data-mode="fill">
<div class="n2-ss-slide-background-image" data-blur="0"
data-opacity="100" data-x="49" data-y="56" data-alt="" data-title=""
style="--ss-o-pos-x:49%;--ss-o-pos-y:56%">
<img
src="//ccofstarke.com/wp-content/uploads/slider/cache/9b917b3fab7ab11516d5c67df2da9275/AdobeStock_4187818201-scaled.jpg"
class="skip-lazy" loading="lazy" data-skip-lazy="1" />
</div>
<div class="n2-ss-slide-background-color"
data-color="RGBA(255,255,255,0)"
style="background-color: RGBA(255,255,255,0);">

</div>
</div>
<div class="n2-ss-slide-background" data-public-id="2" data-mode="fill">
<div class="n2-ss-slide-background-image" data-blur="0"
data-opacity="100" data-x="43" data-y="60" data-alt="" data-title=""
style="--ss-o-pos-x:43%;--ss-o-pos-y:60%">
<img
src="//ccofstarke.com/wp-content/uploads/slider/cache/5f54b703c9a4f39c29512ca793bda0c8/AdobeStock_3304503681-scaled.jpg"
class="skip-lazy" loading="lazy" data-skip-lazy="1" />
</div>
<div class="n2-ss-slide-background-color"
data-color="RGBA(255,255,255,0)"
style="background-color: RGBA(255,255,255,0);">

</div>
</div>
<div class="n2-ss-slide-background" data-public-id="3" data-mode="fill">
<div class="n2-ss-slide-background-image" data-blur="0"
data-opacity="100" data-x="52" data-y="57" data-alt="" data-title=""
style="--ss-o-pos-x:52%;--ss-o-pos-y:57%">
<img
src="//ccofstarke.com/wp-content/uploads/slider/cache/1b2e6cf7e77caea756d73af53fb9276f/AdobeStock_1217415841-scaled.jpg"
class="skip-lazy" loading="lazy" data-skip-lazy="1" />
</div>
<div class="n2-ss-slide-background-color"
data-color="RGBA(255,255,255,0)"
style="background-color: RGBA(255,255,255,0);">

</div>
</div>
</div>
<div class="n2-ss-slider-4 n2-ow">
<img
src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAxOTIwIDcwMCIgZGF0YS1yZWxhdGVkLWRldmljZT0iZGVza3RvcFBvcnRyYWl0IiBjbGFzcz0ibjItb3cgbjItc3MtcHJlc2VydmUtc2l6ZSBuMi1zcy1wcmVzZXJ2ZS1zaXplLS1zbGlkZXIgbjItc3Mtc2xpZGUtbGltaXRlciI+PC9zdmc+"
class="n2-ow n2-ss-preserve-size n2-ss-preserve-size--slider n2-ss-slide-limiter" />
<div class="n2-ss-slide n2-ow n2-ss-slide-31" data-first="1"
data-slide-duration="0" data-id="31" data-slide-public-id="1"
data-title="Tree 3092026 1920">
<div class="n2-ss-slide--focus" role="note" tabindex="-1">
Tree 3092026 1920
</div>
<div class="n2-ss-layers-container n2-ss-slide-limiter n2-ow">
<div class="n2-ss-layer n2-ow n-uc-eDT92jlKRi9O" data-sstype="slide"
data-pm="default">
<div class="n2-ss-layer n2-ow n-uc-QzlKraIWJsLi" data-pm="default"
data-sstype="content" data-hasbackground="0">
<div
class="n2-ss-section-main-content n2-ss-layer-with-background n2-ss-layer-content n2-ow n-uc-QzlKraIWJsLi-inner">
<div class="n2-ss-layer n2-ow n-uc-3br9FRMCciVy" data-pm="normal"
data-sstype="layer">
<div id="n2-ss-16item1"
class="n2-font-8bed755199b9eb1419c5091d319f1aff-hover n2-style-4a29da82da2a361da2f9ddb2fbf3eefb-heading n2-ss-item-content n2-ss-text n2-ow"
style="display:block;">
For God so loved the world, that he gave his only begotten Son, that
whosoever believeth in him should not perish, but have everlasting life.
- John 3:16
</div>
</div>
</div>
</div>
</div>
</div>
<div class="n2-ss-slide n2-ow n2-ss-slide-32" data-slide-duration="0"
data-id="32" data-slide-public-id="2" data-title="harvest">
<div class="n2-ss-slide--focus" role="note" tabindex="-1">
harvest
</div>
<div class="n2-ss-layers-container n2-ss-slide-limiter n2-ow">
<div class="n2-ss-layer n2-ow n-uc-f8JWCru5Kmwh" data-sstype="slide"
data-pm="default">
<div class="n2-ss-layer n2-ow n-uc-mCUDgZOEBeXe" data-pm="default"
data-sstype="content" data-hasbackground="0">
<div
class="n2-ss-section-main-content n2-ss-layer-with-background n2-ss-layer-content n2-ow n-uc-mCUDgZOEBeXe-inner">
<div class="n2-ss-layer n2-ow n-uc-kAp4p7fJA2iI" data-pm="normal"
data-sstype="layer">
<div id="n2-ss-16item2"
class="n2-font-556a3db9a1e28279771869b19f406ce6-hover n2-style-def234fb9b2f19393518bb4b7afab38f-heading n2-ss-item-content n2-ss-text n2-ow"
style="display:block;">
Faithful is he that calleth you, who also will do it. -<br />
1 Thessalonians 5:24
</div>
</div>
</div>
</div>
</div>
</div>
<div class="n2-ss-slide n2-ow n2-ss-slide-33" data-slide-duration="0"
data-id="33" data-slide-public-id="3" data-title="Barn 1031613 1920">
<div class="n2-ss-slide--focus" role="note" tabindex="-1">
Barn 1031613 1920
</div>
<div class="n2-ss-layers-container n2-ss-slide-limiter n2-ow">
<div class="n2-ss-layer n2-ow n-uc-SpSsFLyDhOBq" data-sstype="slide"
data-pm="default">
<div class="n2-ss-layer n2-ow n-uc-uU7hNL0NkuIi" data-pm="default"
data-sstype="content" data-hasbackground="0">
<div
class="n2-ss-section-main-content n2-ss-layer-with-background n2-ss-layer-content n2-ow n-uc-uU7hNL0NkuIi-inner">
<div class="n2-ss-layer n2-ow n-uc-1012c18a3aac7" data-pm="normal"
data-sstype="layer">
<div id="n2-ss-16item3"
class="n2-font-19ceabff79163aeb578b493b77a425f1-hover n2-style-def234fb9b2f19393518bb4b7afab38f-heading n2-ss-item-content n2-ss-text n2-ow"
style="display:block;">
And this is life eternal, that they might know thee the only true God,
and Jesus Christ, whom thou hast sent. - John 17:3
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div
class="n2-ss-slider-controls n2-ss-slider-controls-absolute-left-center">
<div id="n2-ss-16-arrow-previous"
class="n2-ss-widget nextend-arrow n2-ow-all nextend-arrow-previous nextend-arrow-animated-fade"
style="--widget-offset:15px;" data-hide-mobilelandscape="1"
data-hide-mobileportrait="1" role="button" aria-label="previous arrow"
tabindex="0">
<img
src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMTEuNDMzIDE1Ljk5MkwyMi42OSA1LjcxMmMuMzkzLS4zOS4zOTMtMS4wMyAwLTEuNDItLjM5My0uMzktMS4wMy0uMzktMS40MjMgMGwtMTEuOTggMTAuOTRjLS4yMS4yMS0uMy40OS0uMjg1Ljc2LS4wMTUuMjguMDc1LjU2LjI4NC43N2wxMS45OCAxMC45NGMuMzkzLjM5IDEuMDMuMzkgMS40MjQgMCAuMzkzLS40LjM5My0xLjAzIDAtMS40MmwtMTEuMjU3LTEwLjI5Ig0KICAgICAgICAgIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjAuOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+DQo8L3N2Zz4="
class="skip-lazy" data-skip-lazy="1" width="32" height="32"
alt="previous arrow" />
</div>
</div>
<div
class="n2-ss-slider-controls n2-ss-slider-controls-absolute-right-center">
<div id="n2-ss-16-arrow-next"
class="n2-ss-widget nextend-arrow n2-ow-all nextend-arrow-next nextend-arrow-animated-fade"
style="--widget-offset:15px;" data-hide-mobilelandscape="1"
data-hide-mobileportrait="1" role="button" aria-label="next arrow"
tabindex="0">
<img
src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1zbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMTAuNzIyIDQuMjkzYy0uMzk0LS4zOS0xLjAzMi0uMzktMS40MjcgMC0uMzkzLjM5LS4zOTMgMS4wMyAwIDEuNDJsMTEuMjgzIDEwLjI4LTExLjI4MyAxMC4yOWMtLjM5My4zOS0uMzkzIDEuMDIgMCAxLjQyLjM5NS4zOSAxLjAzMy4zOSAxLjQyNyAwbDEyLjAwNy0xMC45NGMuMjEtLjIxLjMtLjQ5LjI4NC0uNzcuMDE0LS4yNy0uMDc2LS41NS0uMjg2LS43NkwxMC43MiA0LjI5M3oiDQogICAgICAgICAgZmlsbD0iI2ZmZmZmZiIgb3BhY2l0eT0iMC44IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4NCjwvc3ZnPg=="
class="skip-lazy" data-skip-lazy="1" width="32" height="32"
alt="next arrow" />
</div>
</div>
</div>
</div>
</div>
</div>
<div class="n2_clear">

</div>
</div>
</div>
</div>
</div>
<div id="generate-section-2"
class="generate-sections-container hide-on-all-disabled paraxify mws-text-shadows-in-sections mws-dark-section">
<div
class="grid-container grid-parent generate-sections-inside-container"
itemprop="text">
<p><span style="font-size: 28px;">Weekly Service Times: Sunday Morning
10:30am</span><br />
<span style="font-size: 24px;">(Any special weeknight service will begin
at 7:30pm)</span></p>
</div>
</div>
<div id="generate-section-3"
class="generate-sections-container hide-on-all-disabled mws-top-and-bottom-shadow">
<div
class="grid-container grid-parent generate-sections-inside-container"
itemprop="text">
<div class="row-fluid">
<section id="welcome-to-christs-church-of-starke" class="rhcol span8">
<h2>Welcome to Christ’s Church of Starke</h2>
<p>We trust that today you are enjoying all the riches in Christ!</p>
<p>We would like to share with you an article written nearly 70 years
ago that is alarmingly descriptive of the deceptive hour in which we
live. We encourage you to read the article prayerfully and share it with
others. May it awaken all of us to the urgency of these times.</p>
<p><a href="https://ccofstarke.com/Site/Ballard.pdf">COUNTERFEITS IN THE
LAST DAYS</a><br />
<a href="https://ccofstarke.com/Site/Ballard.pdf">By J. HUDSON
BALLARD</a></p>
<p>One of the most requested messages we have is “The Restitution of All
Things” preached back in November of 2008. Here is a transcript of that
awesome message that God gave Brother Lester. Read it prayerfully.</p>
<table class="table-stack-on-mobile"
style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td colspan="2"
style="text-align: center; width: 50%; height: 24px;"><p><a
href="https://ccofstarke.com/Site/ROAT.pdf"><em><strong>“Restitution of
All Things”</strong></em></a></p></td>
</tr>
<tr>
<td style="text-align: center; width: 50%;"><a
href="http://www.ccofstarke.com/audio/111608ampt1.mp3"
class="wpe-button wpe-button-black">Audio Message – Part 1</a></td>
<td style="text-align: center; width: 50%;"><a
href="http://www.ccofstarke.com/audio/111608ampt2.mp3"
class="wpe-button wpe-button-black">Audio Message – Part 2</a></td>
</tr>
</tbody>
</table>
</section>
<div class="rhcol span4">
<p> <img
src="https://ccofstarke.com/wp-content/uploads/image_adobe_express11-400x400.jpeg"
class="alignnone size-medium wp-image-3823" decoding="async"
loading="lazy"
srcset="https://ccofstarke.com/wp-content/uploads/image_adobe_express11-400x400.jpeg 400w, https://ccofstarke.com/wp-content/uploads/image_adobe_express11-600x600.jpeg 600w, https://ccofstarke.com/wp-content/uploads/image_adobe_express11-350x350.jpeg 350w, https://ccofstarke.com/wp-content/uploads/image_adobe_express11-768x768.jpeg 768w, https://ccofstarke.com/wp-content/uploads/image_adobe_express11.jpeg 1080w"
sizes="(max-width: 400px) 100vw, 400px" data-mwl-img-id="3823"
width="400" height="400" /></p>
</div>
</div>
<p> </p>
</div>
</div>
<div id="generate-section-4"
class="generate-sections-container paraxify mws-header-cta-form mws-dark-section mws-top-bottom-gold-borders">
<div
class="grid-container grid-parent generate-sections-inside-container"
itemprop="text">
<div class="row-fluid">
<div class="span6 rhcol" style="text-align: center;">
Christ’s Church of Starke
<p><span style="font-size: 48px;"><img
src="https://ccofstarke.com/wp-content/uploads/homepage-image.png"
class="alignnone size-full wp-image-3745" decoding="async"
loading="lazy" data-mwl-img-id="3745" width="300"
height="170" /></span></p>
<p>And this is life eternal, that they might know thee the only true
God, and Jesus Christ, whom thou hast sent. – John 17:3</p>
</div>
<div class="span6 rhcol">

</div>
</div>
</div>
</div>
<div id="generate-section-5" class="generate-sections-container">
<div
class="grid-container grid-parent generate-sections-inside-container"
itemprop="text">

</div>
</div>
</main>
