---
permalink: /src/
---
title: "Home – Christ’s Church of Starke"
layout: default
---

<main id="main" class="site-main" role="main">

  <section class="hero hero-slide" style="background-image: url('/images/coming-soon-background.jpg');">
    <div class="verse">
      <h2>Welcome to Christ’s Church of Starke</h2>
      <p>Weekly Service Times: Sunday Morning 10:30am<br>Weeknight services begin at 7:30pm</p>
    </div>
  </section>

  <section class="section section-light">
    <div class="content welcome-text">
      <p>We trust that today you are enjoying all the riches in Christ!</p>
      <p>We would like to share with you an article written nearly 70 years ago that is alarmingly descriptive of the deceptive hour in which we live.</p>
    </div>
  </section>

  <section class="section has-background-cover" style="background-image: url('/images/widecrosses.png');">
    <div class="section-container">
      <h2 class="section-header">Be Encouraged!</h2>
      <p class="aligncenter">The message of the cross is still the power of God unto salvation!</p>
    </div>
  </section>

</main>
